.flex.flex-grow
  .select-all-emails(ng-click='$ctrl.onSelectAllCheckboxClick()')
    label.checkbox
      input(
        type='checkbox',
        ng-model='$ctrl.selectedAllEmails'
      )
      i.input-helper
  .selected-helper(ng-if="$ctrl.isSelecting()")
    span(ng-show="!$ctrl.bulkAction") #{__('%s selected', '{{ $ctrl.getNumberOfSelectedEmails() }}')}
    span(ng-show="$ctrl.bulkAction") #{__('All mails in the current repository are selected.')}

.flex-grow.flex-vertical-centered.flex-end
  .flex-vertical-centered.m-r-20(ng-if="$ctrl.isSelecting()")
    toggle-switch(ng-model="$ctrl.bulkAction", onchange="$ctrl.onBulkActionChange()")
    span.m-l-15 #{__('Bulk action')}
  .flex-vertical-centered(dynamic-directive="mail-repository-extra-actions")
  button.btn-link.btn-icon(title=__('Delete'), ng-click='$ctrl.onDeleteBtnClick()', ng-show='$ctrl.isSelecting()')
    i.mdi.mdi-delete
